<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/actors"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ actor?.firstName }} {{ actor?.lastName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
<ion-content *ngIf="!loading" [fullscreen]="true">
  <div class="flex md:flex-row items-center p-6 gap-6">
    <img 
      [src]="actor?.image" 
      alt="{{ actor?.firstName }} {{ actor?.lastName }}" 
      class="rounded-lg w-32 h-32 md:w-48 md:h-48 object-cover shadow-lg"
    />
  
    <div class="flex flex-col items-center justify-evenly w-full md:w-1/2 space-y-6">
      <div class="flex flex-col items-center">
        <ion-icon name="person-outline" class="text-4xl text-gray-200 mb-2"></ion-icon>
        <h1 class="text-2xl font-bold text-center text-gray-200">{{ actor?.firstName }} {{ actor?.lastName }}</h1>
      </div>
  
      <div class="flex flex-col items-center">
        <ion-text class="text-sm font-semibold text-gray-200">{{ 'actorDetails.age' | translate }}</ion-text>
        <p class="text-lg text-gray-200">{{ countAge(actor!.birthDate) }}</p>
      </div>
  
      <div class="flex flex-col items-center">
        <ion-text class="text-sm font-semibold text-gray-200">{{ "Średnia ocena aktora" }}</ion-text>
        <div class="flex items-center">
          <ion-icon class="p-2 rounded-xl text-yellow-400" style="font-size: 1.2rem;" name="star"></ion-icon>
          <p class="text-lg text-gray-200">4.6</p>
        </div>
      </div>
    </div>
  </div>

  <div class="p-6">
    <h2 class="text-lg text-center font-semibold mb-2">{{ 'actorDetails.biography' | translate }}</h2>
    <p class="text-gray-200 text-center">{{ actor?.biography }}</p>
  </div>

  <div class="p-6">
    <h2 class="text-center text-lg font-semibold mb-2">{{ 'actorDetails.filmography' | translate }}</h2>
    <swiper-container [slidesPerView]="3" [loop]="true">
      <swiper-slide *ngFor="let el of actor?.roles">
        <ion-card
          (click)="onCardClick(el)"
          [style.width.px]="150"
          [style.height.px]="200 + 50"
          class="rounded-lg"
        >
          <img [style.width.px]="150" [style.height.px]="200" [src]="(el.movie.image )" />
          <ion-card-header class="h-[60px] px-2 py-2 flex flex-col justify-between">
            <ion-card-title class="text-sm text-center">
              {{ el.movie.title }}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>
