<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{ 'search.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="onSearch()"
    [placeholder]="'search.search' | translate"
  ></ion-searchbar>

  <ion-list *ngIf="filteredMovies.length > 0">
    <ion-item *ngFor="let movie of filteredMovies" (click)="goToDetails(movie.id)">
      <ion-thumbnail slot="start">
        <img [src]="movie.poster" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.year }} &#8226; {{ movie.genre }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="searchTerm && filteredMovies.length === 0" class="no-results">
    <ion-text>{{ 'search.noResults' | translate }}</ion-text>
  </div>
</ion-content>
