  <ion-content>
    <form class="">
      <h3 class="my-4 text-center text-xl">{{ 'moviePage.categories' | translate }}</h3>
      <ion-list>
        <ion-item *ngFor="let category of categories">
          <ion-label>{{ category }}</ion-label>
          <ion-checkbox
            [checked]="filters.categories[category]"
            (ionChange)="onCategoryChange(category, $event.detail.checked)"
          ></ion-checkbox>
        </ion-item>
      </ion-list>
      <h3 class="my-2 text-center text-xl">{{ 'moviePage.minRating' | translate }}</h3>
        <ion-list class="flex flex-row justify-center w-full">
          <ion-item class="flex" *ngFor="let mark of marks">
            <ion-label class="mr-[0.35rem]" [for]="mark">{{ mark }}</ion-label>
            <ion-checkbox class="ml-[0.35rem]" [id]="mark" [checked]="filters.rating === +mark" (ionChange)="onRatingChange(mark)" name="{{mark}}"></ion-checkbox>
          </ion-item>
        </ion-list>
      <ion-button (click)="apply()" class="my-12 mx-auto" expand="block">{{ 'moviePage.apply' | translate }}</ion-button>
      <ion-button (click)="cancel()" class="absolute bottom-12 w-full left-1/2 translate-x-[-50%]"  fill="outline" color="danger" expand="block">{{ 'moviePage.cancel' | translate }}</ion-button>
    </form>
  </ion-content>