form{
    display: flex;
    flex-direction: column;
    align-items: center;
    ion-input {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid var(--ion-color-primary);
        width:75%;
    }

    ion-button{
        width: 75%;
    }
    ion-input:active{
        border-bottom: 1px solid var(--ion-color-secondary);
    }
    .submitBtn {
        --background: var(--ion-color-secondary);
    }
}