// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --background-color: #ffffff;
    --header-color: #ffffff;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #1e1e1e;
      --header-color: #1e1e1e;
    }
  }
