<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/movies"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ movie?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-spinner *ngIf="loading"></ion-spinner>

<ion-content *ngIf="!loading" [fullscreen]="true">
  <img class="object-cover" [src]="movie?.image || tempMovieImage" />
  <div class="mx-8">
    <h1 class="text-4xl my-4 font-semibold text-center">{{ movie?.title }}</h1>
  <p class="text-center">{{ movie?.description }}</p>
  <div class="flex items-center justify-center">
    <div class="mt-6 grid grid-cols-2 gap-x-12 gap-y-4">
      <div class="flex items-center gap-3">
        <ion-icon class="bg-gray-600 p-2 rounded-xl" style="font-size: 1.5rem;" name="videocam"></ion-icon>
        <!-- <div class="flex flex-col">
          <ion-text class="text-sm font-semibold">{{ 'movieDetails.director' | translate }}</ion-text>
          <ion-text class="text-sm">{{ movie?.director }}</ion-text>
        </div> -->
      </div>
      
      <div class="flex items-center gap-3">
        <ion-icon class="bg-gray-600 p-2 rounded-xl" style="font-size: 1.5rem;" name="earth"></ion-icon>
        <div class="flex flex-col">
          <ion-text class="text-sm font-semibold">{{ 'movieDetails.country' | translate }}</ion-text>
          <ion-text class="text-sm">{{getMovieCountries() }}</ion-text>
        </div>
      </div>
    
      <div class="flex items-center gap-3">
        <ion-icon class="bg-gray-600 p-2 rounded-xl" style="font-size: 1.5rem;" name="film"></ion-icon>
        <div class="flex flex-col">
          <ion-text class="text-sm font-semibold">{{ 'movieDetails.genre' | translate }}</ion-text>
          <ion-text class="text-sm">{{ Genre[movie!.genre] }}</ion-text>
        </div>
      </div>
  
      <div class="flex items-center gap-3">
        <ion-icon class="bg-gray-600 p-2 rounded-xl" style="font-size: 1.5rem;" name="time"></ion-icon>
        <div class="flex flex-col">
          <ion-text class="text-sm font-semibold">{{ 'movieDetails.duration' | translate }}</ion-text>
          <ion-text class="text-sm">{{ getMovieDuration() }}</ion-text>
        </div>
      </div>
    
      <div class="flex items-center gap-3">
        <ion-icon class="bg-gray-600 p-2 rounded-xl" style="font-size: 1.5rem;" name="calendar"></ion-icon>
        <div class="flex flex-col">
          <ion-text class="text-sm font-semibold">{{ 'movieDetails.releaseDate' | translate }}</ion-text>
          <ion-text class="text-sm">{{ movie!.releaseDate.split('T')[0] }}</ion-text>
        </div>
      </div>
    
      <div class="flex items-center gap-3">
        <ion-icon class="bg-gray-600 p-2 rounded-xl" style="font-size: 1.5rem;" name="star"></ion-icon>
        <div class="flex flex-col">
          <ion-text class="text-sm font-semibold">{{ 'movieDetails.rating' | translate }}</ion-text>
          <ion-text class="text-sm">{{ movie?.score }} / 5</ion-text>
        </div>
      </div>
    </div>  
  </div>
  </div>

  <div class="flex justify-center gap-4 my-4">
    <ion-button class="flex justify-center items-center bg-gray-500 rounded-xl" fill="clear" expand="block" (click)="addToFavorites()">
      <ion-icon class="w-8 h-8" [class]="isFavorite ? 'text-red-500' : 'text-white' " name="heart"></ion-icon>
    </ion-button>
    <ion-button expand="block" class="flex justify-center items-center bg-gray-500 rounded-xl" fill="clear" (click)="addToWatchlist()">
      <ion-icon class="w-8 h-8" [class]="isWatchlist ? 'text-yellow-500' : 'text-white' " name="bookmark"></ion-icon>
    </ion-button>
  </div>

  <h2 class="text-center text-2xl mt-4">{{ 'movieDetails.actors' | translate }}</h2>
  <swiper-container [slidesPerView] = '2.5' [loop]="true">
    <swiper-slide *ngFor="let actor of movie!.roles">
      <ion-card class="relative" (click)="redirectToActor(actor.id)" [style.width.px]="150" [style.height.px]="220" class="rounded-lg" >
        <img [style.width.px]="150" [style.height.px]="180" [src]="actor.person.pictureUrl" />
        <ion-button
        *ngIf="user" 
        (click)="openActorModal(actor.id); $event.stopPropagation()"
        class="reviewBtn text-black absolute z-50 text-xl top-0 right-0 p-0 w-10 h-10 translate-y-[-20%] flex items-center justify-center rounded-full  shadow-lg">
        +
      </ion-button>
        <ion-card-header class="h-[60px] px-2 py-2 flex flex-col justify-between">
            <ion-card-title class="text-sm text-center">{{ actor.person.firstName}} {{ actor.person.lastName }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <div class="relative mt-8 mx-8">
    <div class="flex items-center justify-center">
      <h2 class="text-center text-2xl font-semibold mb-4">{{ 'movieDetails.reviews' | translate }}</h2>
    <ion-button 
      *ngIf="user" 
      id="open-movie-modal" 
      class="reviewBtn text-black absolute text-xl top-0 right-0 p-0 w-10 h-10 translate-y-[-20%] flex items-center justify-center rounded-full shadow-lg">
      +
    </ion-button>
    </div>
    <ion-list>
      <ion-item class="my-2" *ngFor="let review of movie?.reviews">
        <div>
          <h3 class="text-lg font-semibold">{{ review.user.login }}</h3>
          <ion-text>{{ review.comment }}</ion-text>
        </div>
        <div slot="end" class="flex items-center gap-1">
          <ion-icon class="text-yellow-500" name="star"></ion-icon>
          <ion-text>{{ review.rating }}</ion-text>
        </div>
      </ion-item>
    </ion-list>
  </div>


  <ion-modal #modal trigger="open-movie-modal" [initialBreakpoint]="0.5" [breakpoints]="[0.5, 0.75]">
    <ion-content class="flex flex-col">
      <h3 class="my-4 text-2xl text-center">{{ 'movieDetails.scoreMovie' | translate }}</h3>
      <div class="rating-container flex items-center justify-center gap-2">
        <ion-icon 
          *ngFor="let star of stars; let i = index"
          [name]="i < ratingMovie ? 'star' : 'star-outline'" 
          class="star-icon" 
          [class.active]="i < ratingMovie"
          (click)="rateMovie(i + 1)">
        </ion-icon>
      </div>
      <ion-textarea rows="7" class="my-2" placeholder="Podziel się swoją opinią (opcjonalnie)"></ion-textarea>
      <ion-button expand="block"  class="mt-4" (click)="submitReview()">{{ 'movieDetails.addReview' | translate }}</ion-button>
    </ion-content>
  </ion-modal>

  <ion-modal [isOpen]="isModalActorOpen" (willDismiss)="closeActorModal()" [initialBreakpoint]="0.25">
    <ion-content class="flex flex-col">
      <h3 class="my-4 text-2xl text-center">{{ 'movieDetails.scoreActor' | translate }}</h3>
      <div class="rating-container flex items-center justify-center gap-2">
        <ion-icon 
          *ngFor="let star of stars; let i = index"
          [name]="i < ratingActor ? 'star' : 'star-outline'" 
          class="star-icon" 
          [class.active]="i < ratingActor"
          (click)="rateActor(i + 1)">
        </ion-icon>
      </div>
      <ion-button expand="block" class="mt-4" (click)="submitActorReview()">{{ 'movieDetails.addReview' | translate }}</ion-button>
    </ion-content>
  </ion-modal>
</ion-content>
