<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Actors
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
      <ion-item>
          <ion-card>
            <img class="rounded-xl" [src]="actors[0].img"/>
            <ion-card-header>
              <ion-card-title>{{ actors[0].firstName }} {{ actors[0].lastName }}</ion-card-title>
              <ion-card-subtitle
                >{{ actors[0].age }} lat</ion-card-subtitle
              >
            </ion-card-header>
          </ion-card>
      </ion-item>
    <ion-item *ngFor="let actor of actors.slice(1)" class="py-4 w-full flex items-center" detail>
        <img [src]="actor.img" class="w-[70px] h-[95px] rounded-lg" />
      <div class="w-3/4 h-full flex flex-col justify-between py-4 px-2">
        <div class="flex justify-between">
          <ion-text>{{ actor.firstName }} {{ actor.lastName }}</ion-text>
        </div>
        <div class="flex flex-col gap-2 text-xs">
          <ion-text>Wiek: {{ actor.age }} | {{ actor.movies.length }} filmów</ion-text>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
