<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Watch lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-spinner *ngIf="loading"></ion-spinner>
<ion-content *ngIf="!loading" [fullscreen]="true">
  <div class="text-center" *ngIf="movies.length === 0">Brak filmów dodanych</div>
  <ion-list *ngIf="movies.length > 0">
    <ion-item *ngFor="let movie of movies" (click)="goToDetails(movie.id)" detail>
      <ion-thumbnail slot="start">
        <img [src]="movie.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.releaseDate }} &#8226; {{ Genre[movie.genre] }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
