<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/movies"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'settings.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{ 'settings.language' | translate }}</ion-label>
      <ion-select
        slot="end"
        [(ngModel)]="selectedLanguage"
        (ionChange)="changeLanguage($event)"
      >
        <ion-select-option value="pl">{{ 'settings.polish' | translate }}</ion-select-option>
        <ion-select-option value="en">{{ 'settings.english' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
