<swiper-container [slidesPerView] = '2.5' [loop]="true">
  <swiper-slide *ngFor="let el of data">
    <ion-card class="rounded-lg h-[280px]" >
      <img class="w-[150px] h-[220px]" [src]="isMovie(el) ? el.poster : el.img" />
      <ion-card-header class="h-[60px] px-2 py-2 flex flex-col justify-between">
        <ion-card-title *ngIf="isMovie(el); else isActor" class="text-sm text-center">{{el.title}}</ion-card-title>
        <ng-template #isActor>
          <ion-card-title class="text-sm text-center">{{!isMovie(el) && el.firstName}} {{!isMovie(el) && el.lastName }}</ion-card-title>
        </ng-template>

      </ion-card-header>
    </ion-card>
  </swiper-slide>
</swiper-container>