<ion-menu menuId="mainMenu" contentId="mainContent" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        MovieMind
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="h-screen flex flex-col justify-between items-center">
    <ion-list class="h-full relative">
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/tabs/movies">
          <ion-icon name="film" slot="start"></ion-icon>
          <ion-label>{{ 'moviePage.title' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/tabs/actors">
          <ion-icon name="people" slot="start"></ion-icon>
          <ion-label>{{ 'actorsPage.title' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/tabs/favourites">
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>Ulubione</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/tabs/watch-list">
          <ion-icon name="time" slot="start"></ion-icon>
          <ion-label>Watch lista</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/tabs/settings">
          <ion-icon name="settings" slot="start"></ion-icon>
          <ion-label>Ustawienia</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle class="absolute bottom-12 left-[50%] transform translate-x-[-50%]">
        <ion-button *ngIf="isLoggedIn; else isGuest" (click)="logout()" class="w-[180px]" color="danger" lines="none" button>
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label>{{ 'logout' | translate }}</ion-label>
        </ion-button>
        <ng-template #isGuest>
          <ion-button (click)="login()" class="w-[180px]" color="primary" lines="none" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Zaloguj się</ion-label>
          </ion-button>
        </ng-template>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>